.adminUserSave i.fa-floppy-o {
    padding-top: 10px;
}
.adminUserSave i.fa-times {
    padding-left: 10px;
}
.adminUsersSave a {
    text-decoration: none;
}
.fa {
    padding-right: 10px;
}
.fa-pencil {
    cursor: pointer;
}
.editDataLink {
   padding-left: 10px;
   padding-right: 20px;
    color: #000;
}
.deleteDataLink {
    color: #000;
}
.main-body{
    background-color: #f1f4f7;
}
.main-center {
    padding-left: 20px;
}
.main-menubar {
    padding-top: 10px;
    margin-left: 10px;
}
.sideBarLeft {
    height: 1500px;
    background-color: #2d3c4b;
    padding-left: 20px;
    color: #abb1b7;
}
.sideBarLeft .header {
    padding-top: 30px !important;
}

.sideBarLeft .nav a {
    color: #abb1b7;
}

.sideBarLeft .nav .selected a {
    color: #fff;
}

.userDetail {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.userDetail .input-group {
    padding-top: 10px;
}


input.modified {
    border:2px solid yellow;
}